Exercise 2 Data Science Tools and Ecosystem

Exercise 3  In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List common libraries used in Data Science
- Mention popular development tools in Data Science
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 5 - Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools|
|---------------------------------|
    |Jupiter Notebook|
    |Rstudio|
    |Apache|

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Suma: 3+5 Resultado = 8
2. Resta: 10-4 Resultado = 6
3. Multiplicacion: 3*3 Resultado = 9
4. Division 25/5 Resultado = 5

In [4]:
#his a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

In [ ]:
#his will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335

## Author

Sergio Elizondo M.